APP_PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=carniceria
DB_PASSWORD=secret
DB_NAME=carniceria_db
DB_ROOT_PASSWORD=rootsecret

# Path to static files (auto-overridden in Docker)
PUBLIC_DIR=../public
